{% extends 'base.html.twig' %}

{% block body %}
    <section id="termsOfUseSection">
        <article class="card card-default">
            <div class="card-header bg-light">
                <div class="card-title">
                    <h3>Privacy Notice for EOSC Accounting UI  </h3>
                </div>

            </div>

            <div class="card-body">
                <table class="table table-responsive table-bordered">
                    <tr>
                        <th class="bg-light col-2">Name of the Service</th>
                        <td class="p-2 m-2">EOSC Accounting UI</td>
                    </tr>
                    <tr>
                        <th class="bg-light col-2">Description of the Service</th>
                        <td class="p-2 m-2">The EOSC Accounting UI service (hereinafter referred to as: “the service” or “Portal”) is providing different user interfaces to interact with the EOSC accounting API.
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-light col-2">Data Controller</th>
                        <td class="p-2 m-2">GRNET<br/>
                            <ul><li>
                                    <strong> Controller’s Contact Details :</strong>info@grnet.gr
                                </li>
                                <li><strong> Processor Details:</strong> :  ARGO Support Team</li>
                            </ul>
                        </td>
                    </tr>

                    <tr>
                        <th class="bg-light col-2">Data protection officer</th>
                        <td>
                        <ul>
                            <li>
                                <strong> Email: </strong>dpo@grnet.gr
                            </li>
                        </ul>
                        </td>
                    </tr>



                    <tr>
                        <th class="bg-light col-2">Personal data processed</th>
                        <td class="p-2 m-2">The service may process the following personal data:<br/><br/>
                            <strong>Identification data:</strong>
                            <ul>
                                <li>Name</li>
                                <li>Identification number</li>
                                <li>E-mail address</li>
                                <li>Affiliation</li>
                              </ul><br/>

                            <strong>Behavioural data:</strong>
                            <ul>
                                <li>Usage data</li>
                                <li>Technical logs with timestamps</li>
                            </ul><br/>


                        </td>
                    </tr>
                    <tr>
                        <th class="bg-light col-2">Purpose of the processing of personal data</th>
                        <td class="p-2 m-2">The purpose of the collection, processing and use of the personal data mentioned above is:<br/><br/>
                            <ul><li>To provide the service functions, i.e. to identify users and provide access to the tools with the proper access levels..</li>
                                <li>To monitor and maintain service stability, performance and security</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th class="bg-light col-2">Legal basis</th>
                        <td class="p-2 m-2">The legal basis for processing personal data is: Legitimate interests pursued by the controller or by a third party according to Art. 6 (1) (f) GDPR.
                            Personal data will not be used beyond the original purpose of their acquisition.<br/> If a forwarding to third parties should be necessary to answer an inquiry or to carry out a service, the consent of the data subject is considered to have been given when using the respective function or service.<br/><br/> In particular, the data you provide to us will not be used for marketing.
                            <br/> For the purposes given in this privacy policy, personal data may be passed to the following third parties:<br/>
                            <br/><strong>Within the EU / EEA:</strong>
                            <ul><li>CNRS (CC-IN2P3, resource provider, sub-contracted data processor)</li>
                                <li> Users of the portal can access different data depending on their role</li>
                                <li>The records of your use and technical log files produced by the Service components may be shared, via secured mechanisms, for security incident response purposes with other authorised participants in the academic and research distributed digital infrastructures authorised by EOSC Future governance, only for the same purposes and only as far as necessary to provide the incident response capability where doing so is likely to assist in the investigation of suspected misuse of Infrastructure resources.</li></ul>
                            <strong>Outside the EU / EEA:</strong><br/>
                            <ul>
                                <li> Users of the portal can access different data depending on their role
                                </li>

                            </ul>
                            Any data transfer to a third country outside the EU or the EEA only takes place under the conditions contained in Chapter V of the GDPR and in compliance with the provisions of this privacy policy.


                        </td>
                    </tr>

                    <tr>
                        <th class="bg-light col-2">Your rights</th>
                        <td class="p-2 m-2">You can exercise the following rights at any time by contacting our data protection officer using the contact details provided in the Data Protection Officer section:
                            <br/>
                            <ul>
                                <li>Information about your data stored with us and their processing</li>
                                <li>Correction of incorrect personal data</li>
                                <li>Deletion of your data stored by us</li>
                                <li>Restriction of data processing, if we are not yet allowed to delete your data due to legal obligations</li>
                                <li>Objection to the processing of your data by us</li>
                                <li> Data portability</li>
                            </ul>
                            <br/>

                            <br/>

                            For any questions or clarifications regarding the present Privacy Statement and as well as in the event of any violation related to personal data issues, "users" may contact the Competent Department of GRNET SA at the e-mail address mentioned hereinabove.
                            They may also contact the Data Protection Officer (DPO) of GRNET S.A. at the e-mail address: dpo@grnet.gr


                        </td>
                    </tr>
                    <tr>
                        <th class="bg-light col-2">Data retention and deletion</th>
                        <td class="p-2 m-2">The records of your use and technical log files produced by the service components will be deleted or anonymised after, at most, 18 months
                        </td>
                    </tr>

                    <tr>
                        <th class="bg-light col-2">Security</th>
                        <td class="p-2 m-2">We take appropriate technical and organisational measures to ensure data security and the protection against accidental or unlawful destruction, accidental loss, alteration, unauthorised disclosure or access.
                        </td>
                    </tr>


                    <tr>

                        <td colspan="2" class="text-center fw-bold p-2 m-2 bg-light ">Based on <a href="https://aarc-project.eu/policies/policy-development-kit/" title="AARC Policy development kit">AARC Policy development kit</a> (licenced under <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" title="Creative commons">CC BY-NC-SA 4.0</a>)</td>
                    </tr>
                </table>
            </div>

        </article>
    </section>
{% endblock %}
