<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row text-center">

        <p class="text-muted">
        <a class="mr-1" href="mailto:cic-information@cc.in2p3.fr" title="go to contact us page">Contact Us</a>
        | <a class="m-1" href="{{ path('termsofuse') }}" title="terms of use" >Terms of use</a>
            | <a class="m-1" href="{{ path('data_protection') }}" title="Data Protection" >Data Protection</a>
            | <a class="m-1" href="http://www.apache.org/licenses/LICENSE-2.0" title="Apache License" >Apache 2 License</a>
            | <a class="m-1" href="https://gitlab.in2p3.fr/opsportal/accounting-eosc" >Gitlab</a>
            | <span class="m-1">Copyright © {{ 'now'|date('Y') }}</span>
        </p>



    </div>


</footer>