{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10 mt-1 mb-3">
            <h1><i class="bi bi-list-stars"></i>
                 Metrics Type</h1>
            <hr/>


<table class="dataTable table  border border-dark" id="TableTypes">
    <thead>
    <tr>
        <th>Metric Type</th>
    </tr>
    </thead>

    <tbody>
    {%  for id, data in tabMetricsTypes %}
        <tr>
            <td>{{ id }} </td>
        </tr>

    {% endfor %}
</table>


</div>
</div>


{% endblock %}
{% block javascripts %}
{% endblock %}



