{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
<div class="row">
    <div class="offset-1 col-10 mt-1 mb-3">
        <h1><i class="bi bi-bar-chart-steps"></i>
             Unit Types</h1>
        <hr/>


        <table class="dataTable table  border border-dark" id="TableUnits">

    <thead>
    <tr>
        <th>Unit Description</th>
        <th>Unit Type</th>

    </tr>
    </thead>

    <tbody>
    {% for tabMetricsUnit in tabMetricsUnits %}

        {%  for unit in tabMetricsUnit  %}

        <tr>

            <td>{{ unit.description}} </td>
            <td>{{ unit.unit_type }} </td>


        </tr>
        {% endfor %}
    {% endfor %}

    </tbody>

</table>

    </div>
</div>


{% endblock %}
{% block javascripts %}
<script>
    $("#TableUnits").dataTable({
    "order": [[ 0, 'asc' ]]
    })

    </script>

{% endblock %}


