{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
    <div class="row">
        <div class="offset-1 col-10 mt-1 mb-3">
            <h1><i class="bi bi-list-stars"></i>
                 Metric Types</h1>
            <hr/>


<table class="dataTable table  border border-dark" id="TableTypes">
    <thead>
    <tr>
        <th>Metric Type</th>
        <th>Description</th>
    </tr>
    </thead>

    <tbody>

    {%  for metrics in tabMetricsTypes %}
        {%  for metric in metrics %}
            <tr>
                <td>{{ metric.metric_type }} </td>
                <td>{{ metric.description }} </td>
            </tr>
        {% endfor %}
    {% endfor %}
</table>


</div>
</div>


{% endblock %}
{% block javascripts %}

    <script>
        $("#TableTypes").dataTable({
            "order": [[ 0, 'asc' ]]
        })

    </script>
{% endblock %}



