{% extends 'base.html.twig' %}

{% block stylesheets %}

{%  endblock %}

{% block body %}
<div class="row">
    <div class="offset-1 col-10 mt-1 mb-3">
        <h1><i class="bi bi-bar-chart-steps"></i>
             Metrics Units</h1>
        <hr/>


        <table class="dataTable table  border border-dark" id="TableUnits">

    <thead>
    <tr>
        <th>Unit Description</th>
        <th>Unit Type</th>
        <th>Unit Symbol</th>
    </tr>
    </thead>

    <tbody>
    {% for tabMetricsUnit in tabMetricsUnits %}
    {%  for id, units in tabMetricsUnit %}
        {%  for unit in units  %}

        <tr>

            <td>{{ unit.unit }} </td>
            <td>{{ id }}</td>
            <td>{{ unit.symbol }} </td>

        </tr>
        {% endfor %}
    {% endfor %}
    {% endfor %}
    </tbody>

</table>

    </div>
</div>


{% endblock %}
{% block javascripts %}
{% endblock %}


